body {
    background-image: url("../pictures/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: auto;
    opacity: 0.8;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    background-color: #eaeaea;
    width: 460px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #006380;
}

.link_button {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    margin-top: 20px;
    transition: background-color 0.2s ease;
    opacity: 0.8;
}

.link_button:hover {
    background-color: #148db2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    margin: 20px;
    font-size: 20px;
}

a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    color: #003366;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #008CBA;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f24c;
}

tr:nth-child(odd) {
    background-color: #87878764;
}