<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="../pictures/favicon.png" />
</head>

<body>
    <h1>Error</h1>
    <p>
        <%= message %>
    </p>
    <p>
        <%= problem %>
    </p>
</body>

</html>