<!DOCTYPE html>
<html>

<head>
    <title>Belépés</title>
    <link rel="stylesheet" href="../static/style.css">

    <script>
        function showLoginForm() {
            document.getElementById("login-form").style.display = "block";
            document.getElementById("register-form").style.display = "none";
        }

        function showRegisterForm() {
            document.getElementById("login-form").style.display = "none";
            document.getElementById("register-form").style.display = "block";
        }

        function hideProblemMessage() {
            var problemElement = document.querySelector('.problem');
            if (problemElement) {
                setTimeout(function () {
                    problemElement.style.display = 'none';
                }, 5000);
            }
        }

        // meghivom mikor az oldal betoltodik
        window.onload = hideProblemMessage;
    </script>
</head>

<body>

    <div id="login-form">
        <h1>Bejelentkezés</h1>
        <form action="/login" method="POST">
            <label for="username">Felhasználónév:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Jelszó:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="checkbox" id="showPasswordToggle">
            <label for="showPasswordToggle">jelszó megjelenítése</label><br><br>

            <input type="radio" id="user" name="role" value="user" checked>
            <label for="user">Felhasználó</label><br>

            <input type="radio" id="admin" name="role" value="admin">
            <label for="admin">Admin</label><br>

            <p>Nincs fókod? Regisztrálj <a href="#" onclick="showRegisterForm()">itt</a></p>

            <input type="submit" value="Login">
        </form>

    </div>

    <div id="register-form" class="register-form">
        <h1>Regisztráció</h1>
        <form action="/register" method="POST">
            <label for="username">Felhasználónév:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Jelszó:</label>
            <input type="password" id="password1" name="password1" required><br><br>

            <label for="password">Jelszó újra:</label>
            <input type="password" id="password2" name="password2" required><br>

            <p>Van már fiókod? Jelentkezz be <a href="#" onclick="showLoginForm()">itt</a></p>

            <input type="submit" value="Register">
        </form>
    </div>
    <% if(typeof problem !=='undefined' ) { %>
        <p class='problem'>
            <%= problem %>
        </p>
        <% } %>
</body>

</html>