<!DOCTYPE html>
<html>

<head>
    <title>Belépés</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="../pictures/favicon.png" />

    <script>
        function showLoginForm() {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('register-form').style.display = 'none';
          }
          
          function showRegisterForm() {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('register-form').style.display = 'block';
          }
    </script>
</head>

<body>

    <div id="login-form">
        <h1>Bejelentkezés</h1>
        <form action="/login" method="POST">
            <div class="input_div">
            <input type="text" id="username1" name="username" placeholder="Felhasználónév" required><br>
            </div>

            <div class="input_div">
            <input type="password" id="password" name="password" placeholder="Jelszó" required><br>
            <img src="../pictures/eye-close.png" alt="eye" id="eyeicon1">
            </div>

            <input type="radio" id="user" name="role" value="user" checked>
            <label for="user">Felhasználó</label><br>

            <input type="radio" id="admin" name="role" value="admin">
            <label for="admin">Admin</label><br>

            <p>Nincs fókod? <a href="#" onclick="showRegisterForm()" class="switchlink">Regisztrálj itt</a></p>

            <input type="submit" value="Login">
        </form>

    </div>

    <div id="register-form" class="register-form">
        <h1>Regisztráció</h1>
        <form action="/register" method="POST">
            <div class="input_div">
                <input type="text" id="username1" name="username" placeholder="Felhasználónév" required><br>
            </div>

            <div class="input_div">
                <input type="password" id="password1" name="password1" placeholder="Jelszó" required><br>
                <img src="../pictures/eye-close.png" alt="eye" id="eyeicon2">
            </div>

            <div class="input_div">
                <input type="password" id="password2" name="password2" placeholder="Jelszó újra" required><br>
                <img src="../pictures/eye-close.png" alt="eye" id="eyeicon3">
            </div>

            <p>Van már fiókod? <a href="#" onclick="showLoginForm()" class="switchlink">Jelentkezz be itt</a></p>

            <input type="submit" value="Register">
        </form>
    </div>
    <% if(typeof problem !=='undefined' ) { %>
        <p class='problem'>
            <%= problem %>
        </p>
    <% } %>
    
        <a href='/'><button class="link_button">Mégse</button></a>
        
        <script src="../static/loginscript.js"></script>
</body>

</html>