body {
  background-image: url("background.jpg");
  background-repeat: repeat-x;
  background-size: cover;
}

p,
em {
  color: #0e0e0e;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.focim1 {
  color: #0f1e20;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
}

.focim2 {
  color: #0f484f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.h2_3 {
  color: #0f1e20;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

h4 {
  color: #0f1e20;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
}

#kep1 {
  display: block;
  margin: 0 auto;
}

#battery_pic {
  width: 300px;
}

#battery_text td:nth-child(1) {
  text-align: left;
}

#battery_text td:nth-child(n+2) {
  text-align: center;
}

#keretes-div {
  border: 2px dashed rgb(252, 252, 252);
  text-align: center;
  padding: 5px;
}

h2#first_h2+p {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
}

.step div:nth-child(1) {
  width: 20%;
  height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.step div:nth-child(2) {
  width: 30%;
  height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.step div:nth-child(3) {
  width: 40%;
  height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .step * {
    display: inline-block;
    margin-right: 0;
  }
}

#back_to_top {
  text-align: center;
}

.link1_style {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link1_style:hover {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.link1_style:active {
  color: green;
  font-weight: bold;
}

.link1_style:visited {
  color: rgb(18, 76, 33);
}

.link2_style {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-style: italic;
}

.link2_style:hover {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.link2_style:active {
  color: green;
  font-weight: bold;
}

.link2_style:visited {
  color: rgb(0, 0, 0);
  font-weight: bold;
}